.follow-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    margin-top: 1vw;
    border-radius: 1vw;
    background-color: var(--quinary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90vw;
    min-height: 10vh;
}

.follow-widget .follow-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.follow-widget .follow-info .follow-name {
    font-size: 2.5vh;
    margin-left: 1vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    color: var(--primary-color);
}

.follow-image {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}

.follow-widget .button {
    width: 12vw;
}


@media screen and (max-width: 600px) {

    .follow-widget {
        min-height: 10vh;
        margin-bottom: 1vh;
    }

    .follow-widget {
        border-radius: 20px;
    }

    .follow-image {
        width: 13vw;
        height: 13vw;
        margin-left: 2vw;
    }

    .follow-widget .button {
        width: 30vw;
        height: 6vh;
        margin-right: 2vw;
        font-size: 2vh;
    }

    .follow-widget .follow-info .follow-name {
        margin-left: 3vw;
    }
}