@import 'global.css';

.admin-container h2 {
    font-size: 4vh;
    margin-top: 11vh;
}

.admin-container h3 {
    font-size: 2.5vh;
}

.admin-container hr {
    margin-top: 1vh;
}

.admin-container .add-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.admin-container .add-game-container hr {
    width: 25vw;
}

.admin-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.admin-container .fileInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 3vh;
    background-color: var(--secondary-color);
    border-radius: 15px;
}

.admin-container .styled-input {
    width: 30vw;
}

@media (max-width: 600px) {

    .admin-container > hr {
        width: 80vw;
    }

    .admin-container .add-game-container hr {
        width: 60vw;
    }

    .admin-container .styled-input {
        width: 80vw;
    }

    .admin-container .button {
        width: 30vw;
    }
}



