@import 'global.css';

.changeshelf-container .game-image {
    margin-top: 14vh;
    width: 25vh;
    height: 25vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.changeshelf-container h2 {
    margin-top: 2vh;
    font-size: 4vh;
    font-weight: 500;
}

.changeshelf-container h3 {
    margin-top: 1vh;
    font-size: 2.5vh;
    font-weight: 600;
}

.changeshelf-container hr {
    margin-top: 1vh;
}

.changeshelf-container .shelves-buttons-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 70vh;
    margin-top: 3vh;
    width: 40vw;
    justify-content: space-between;
}

.changeshelf-container .shelves-buttons-container .shelves-container {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
}

.changeshelf-container .shelves-buttons-container .buttons-container {
    display: flex;
    flex-direction: column;
}

.changeshelf-container .shelves-buttons-container .shelves-container label {
    color: var(--primary-color);
    margin-bottom: 1vh;
}

.changeshelf-container .shelves-buttons-container .buttons-container input {
    margin-bottom: 1.5vh;
}

.changeshelf-container .button-container .button {
    position: absolute;
    bottom: 12vh;
    left: 50vw;
    transform: translateX(-50%);
}

.changeshelf-container .rating-container {
    margin-top: 2vh;
    margin-bottom: 20vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.changeshelf-container .rating-container .stars {
    display: flex;
    justify-content: center;
}

.changeshelf-container .rating-container .stars .star {
    font-size: 3vh;
    cursor: pointer;
    color: var(--secondary-color);
}

.changeshelf-container .rating-container .stars .star.selected {
    color: #999B19;
}

@media screen and (max-width: 500px) {
    .changeshelf-container .game-image {
        width: 50vw;
        height: 50vw;
    }

    .changeshelf-container hr {
        width: 80vw;
    }

    .changeshelf-container .shelves-buttons-container {
        width: 80vw;
    }

    .changeshelf-container .button {
        width: 50vw;
    }
}
