.game-options {
    background-color: var(--septenary-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.game-options .button {
    margin: 10px;
}

@media (max-width: 600px) {
    .game-options {
        padding: 5px;
        width: 80vw;
        height: 18vh;
    }

    .game-options .button {
        margin: 5px;
        width: 75vw;
        height: 7vh;
    }
}