.game-widget {
    position: relative;
    background-color: var(--quinary-color);
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 45vw;
    height: 16vh;
}

.game-widget .game-image {
    width: 16vh;
    height: 16vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-widget .game-title {
    margin-left: 1vw;
    font-size: 3vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.game-widget p {
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    color: var(--primary-color);
}

.game-widget .button {
    position: absolute;
    right: 1vw;
    bottom: 1vh;
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 600px) {
    .game-widget {
        width: 90vw;
    }
}