body {
    background-color: var(--senary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.home-container .game-widgets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100vw;
    overflow: auto;
    flex: 1;
    margin: 11vh 0 8vh;
}


@media (max-width: 600px) {
    .home-container .game-widgets {
        grid-template-columns: repeat(1, 1fr);
    }
}