body {
    background-color: var(--senary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-container img {
    width: 70%;
    height: auto;
    object-fit: contain; /*obrazek jest skalowany tak, aby cały się zmieścił w kontenerze*/
}

.signup-container h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.signup-container .signup-form h2 {
    margin-bottom: 1vh;
    margin-top: 4vh;
}

.signup-container h3{
    font-size: 15px;
    font-weight: 300;
    margin-top: 0;
}

.signup-container .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--quaternary-color);
    width: 50%;
    border-radius: 20px 0 0 20px;
}

.signup-container .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--quinary-color);
    width: 50%;
    margin: 0 auto;
    padding: 30px 0;
    border-radius: 0 20px 20px 0;
}

.signup-container .signup-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.signup-container .signup-form label {
    display: block;
    margin-top: 4vh;
    width: 20vw;
}

.signup-container .signup-form button {
    margin-top: 6vh;
    width: 12vw;
}

.signup-container .highlight {
    color: #697E9D;
}

@media (max-width: 600px) {
    .signup-container {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        box-shadow: 0 0 0 0;
    }

    .signup-container .logo-container {
        background-color: transparent;
    }

    .signup-container .logo-container h2 {
        display: none;
    }

    .signup-container .logo-container img {
        height: 35%;
        width: auto;
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 66vh;
        transform: translateX(-50%);
    }

    .signup-container .signup-form {
        position: relative;
        margin-top: 0;
        width: 100vw;
        height: 70vh;
        border-radius: 20px 20px 0 0;
        padding:0
    }

    .signup-container .signup-form button {
        width: 40vw;
        margin-top: 4vh;
    }

    .signup-container .signup-form label {
        display: block;
        margin-top: 2.5vh;
        width: 80vw;
    }

    .signup-container .signup-form h2 {
        margin-top: 0;
    }
}