.styled-input {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.styled-input .input-icon {
    margin-right: 10px;
    color: var(--primary-color);
}

.styled-input .styled-input-field {
    flex-grow: 1; /*pole input rozszerza się, aby zająć całą dostępną przestrzeń w kontenerze styled-input*/
    border: none;
    background-color: transparent;
    color: white;
    margin: 0;
}

.styled-input .styled-input-field:focus {
    outline: none;
}

.styled-input .styled-input-field::placeholder {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    font-size: 2vh;
}