:root {
    --primary-color: #787676;
    --secondary-color: #B6BCC1;
    --tertialy-color: #202254;
    --quaternary-color: #343544;
    --quinary-color: #3C3C41;
    --senary-color: #272727;
    --septenary-color: #26262F;
}